<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Kanit:wght@700&display=swap');
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/assets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="../../public/scripts/controller/Controller.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/controller/CanvasController.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/controller/DragDropController.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/controller/WebSocketController.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/Utils.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/Views.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/contentBoxView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/dragDropView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/indexListView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/titleBarView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/canvasView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/webSocketView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/models/Models.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/mvc.js" type="text/javascript" defer></script>

    <title>Happy Blog</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-around head-row">
        <div class="col-sm-5 title-col">
          <h1>-Happy Blog</h1>
        </div>
        <div class="col-sm-5 btn-col">
          <a class="btn btn-edit" id="editButton" >EDIT</a>
          <button class="btn btn-add-page" id="addButton">ADD PAGE</button>
          <a class="btn btn-add-page" href="http://localhost:5000/documentation" target="_blank" rel="noopener noreferrer">DOKU -></a>.</p>
        </div>
      </div>

      <div class="row content-row">
        <div class="col-sm-1 bg-success box index-box">

          <div class="row button-row">
            <div id="index">
            <span class="slide">
                <input name="btn-index" id="index-button" type="image" src="public/resources/INDEX.svg" width="150">
            </span>
            </div>
          </div>

          <div class="row index-row">
              <div class="row filter-row" id="filter">
                <input name="btn-filter" id="show-private" type="image" src="public/resources/lock.svg" height="20px">
                <input name="btn-filter" id="show-public" type="image" src="public/resources/unlock.svg" height="20px">
              </div>
            <ul class="overflow-auto index" id="indexListPublic">
              <% entries.forEach(entry => { %>
              <li class="list-group-item-action index" id="<%= entry.slug %>">
                <%= entry.title %>
              </li>
              <% }) %>
            </ul>

            <ul class="overflow-auto private-index" id="indexListPrivate"></ul>
          </div>
        </div>
        <div class="col-sm-9 bg-light box overflow-auto content-box" id="contentBox">
          <h1>Welcome to your blog!</h1>
          <button class="btn btn-homepage" id="welcomeButton">SHOW ENTRIES</button>
        </div>
        <div class="col-sm-2 bg-success box chat-box">

          <div id="chatMessages" class="message-box"></div>

          <textarea  type="text" id="messageBox" class="text-box" placeholder="Type your message here"></textarea>
          <textarea  type="text" id="usernameBox" class="text-box" placeholder="Select username"></textarea>


          <div class="chat-buttons">
          <button  id="chatSendButton" title="SendButton" class="btn btn-primary btn-chat" style="display: none; width: 120px">SEND</button>
          <button  id="confirmUsernameButton" title="ConfirmUsernameButton" class="btn btn-primary btn-chat" style="width: 120px">CONFIRM</button>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
