<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Kanit:wght@700&display=swap');
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/assets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="../../public/scripts/controller/Controller.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/Views.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/contentBoxView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/indexListView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/views/titleBarView.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/models/Models.js" type="text/javascript" defer></script>
    <script src="../../public/scripts/mvc.js" type="text/javascript" defer></script>

    <script>
      var toggle;
      function openIndex()
      {
        if(toggle)
        {
          document.getElementById("indexRow").style.visibility = "hidden";
          return toggle=0;
        }
        else{
        document.getElementById("indexRow").style.visibility = "visible";
        return toggle=1;}
      }

      function hover(element)
      {
        element.setAttribute("src", "public/resources/INDEX-H.svg")
      }

      function unhover(element)
      {
        element.setAttribute("src", "public/resources/INDEX.svg")
      }
    </script>

    <title>BlogTitle</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-around head-row">
        <div class="col-sm-6 title-col">
          <h1>-BlogTitle</h1>
        </div>
        <div class="col-sm-4 btn-col">
          <a class="btn btn-edit" id="editButton" >EDIT</a>
          <button class="btn btn-add-page" id="addButton">ADD PAGE</button>
        </div>
      </div>

      <div class="row content-row">
        <div class="col-sm-2 bg-success box index-box">

          <div class="row button-row">
            <span class="slide-menu">
              <a href="#" onclick="openIndex()">
                <input name="btn-index" type="image" src="public/resources/INDEX.svg" width="150"
                       onmouseover="hover(this);" onmouseout="unhover(this);">
              </a>
            </span>
          </div>

          <div class="row index-row" id="indexRow">
            <ul class="overflow-auto index" id="indexList">
            <% entries.forEach(entry => { %>
            <li class="list-group-item-action index" id="<%= entry.slug %>">
              <%= entry.title %>
            </li>
            <% }) %>
          </ul>
          </div>
        </div>
        <div class="col-sm-10 bg-light box overflow-auto content-box" id="contentBox">
          <h1>Welcome to your blog!</h1>
          <button class="btn btn-success" id="welcomeButton">SHOW ENTRIES</button>
        </div>
      </div>
    </div>
  </body>
</html>
